body {
    background-color: bisque;
}

.menu {
    width: 100%;
    height: 150px;
    background-color: green;
    color: white;
}

.conteudo {
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    font-weight: bold;
}

img {
    width: 300px;
}